@charset "utf-8";

body{
    color: #707070;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

h1{
    line-height: 0;
    text-align: center;
}

.inner{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/* header */

header{
    padding: 50px 0 80px;
}

header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header li{
    padding: 20px 20px 0;
    list-style: none;
}

header a{
    color: #707070;
    text-decoration: none;
}

nav .current,
nav a:hover{
    color: #FFBF9D;
}