@charset "utf-8";

body{
    color: #707070;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

h1{
    line-height: 0;
    text-align: center;
}

.inner{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/* header */

header{
    padding: 50px 0 80px;
}

header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header li{
    padding: 20px 20px 0;
    list-style: none;
}

header a{
    color: #707070;
    text-decoration: none;
}

nav .current,
nav a:hover{
    color: #FFBF9D;
}

.menu-all{
    padding-bottom: 80px;
}

.manu-all article{
    display: flex;
}

.menu-all article .menu{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.menu-all article .manu h3{
    font-weight: normal;
}

.subscribe{
    background-color:#FDF5ED;
}

.subscribe h2{
    padding: 40px 0 30px;
    color: #303030;
    font-size: 26px;
}

.subscribe p{
    padding-bottom: 40px;
}

.subscribe a{
    display: inline-block;
    width: 240px;
    padding: 18px 0;
    color: #FFFFFF;
    background-color: #FFBF9D;
    text-decoration: none;
    text-align: center;
}

.sub{
    padding-bottom: 40px;
    border-bottom: 1px #707070 solid;
}

footer{
    padding: 48px 0 50px;
}

footer .copyright small{
    font-size: 13px;
    font-weight: bold;
}

footer p{
    text-align: center;
}

@media (min-width:600px){

}